// Import the typography styles.
//
// MDC Typography
//
@use "@material/typography/mdc-typography";
@use '@material/circular-progress/index' as circular-progress;
@use '@material/theme/index' as theme;

.container {
    padding: 15px;
    min-height: calc(95vh - 85px);
}

.create-group-loading {
    @include circular-progress.color(theme.$secondary);
    @include circular-progress.track-color(theme.$secondary);
}
